body {
background-image:url('KS.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}

.navbar{
	background:rgb(200, 208, 211,0.1);
	margin-top:70px;
	width:100%;
	}
	
	nav{
	text-align:center;
 
	color:rgb(255,255,255);
}
